<h3><a href="/blogs">< place list</a></h3>
<h1>place detail</h1>
<div>
    <a href="/blogs/update/{{blog.id}}" id="{{blog.id}}">Update</a>
    <h3>{{blog.title}}</h3>
    <p>{{blog.text}}</p>
    <a href="#" class="btn-delete" id="{{blog.id}}">Delete</a>
</div>

<!-- import jquery-->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!--Send an Ajax request to delete the building -->
<script type="text/javascript">
    $('a.btn-delete').on('click',function(evt){
        evt.preventDefault();
        // // get ID of building
        var blogid = $(this).attr('id');
        $.ajax({
            // Request URL
            url: "/blogs/" + blogid,
            // Type of request
            type: "DELETE",
            contentType:"application/json",
            // Response function when delete successfully
            success:function(resp){
                // Open buildings on the current page
                window.open("/blogs","_self");
            },
            // Response function when delete failed
            error:function(resp){
                // alert when delete failed
                alert("delete place fail！Detailed：" + resp.message);
            }
        })
    });
</script>
